body {
  background-color: #ccc;
}

.main {
  min-height: 94vh;
  background-color: white;
}

.fa-twitter{
  border-radius:30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.comment {
  width: 100%;
  overflow-wrap: break-word;
}  
