body {
  background-color: #ccc;
}

.main {
  min-height: 94vh;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 20px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 20px rgba(0,0,0,0.1);
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 20px rgb(0 0 0 / 10%);
}

.fa-twitter{
  border-radius:30px;
}

.comment {
  width: 100%;
  overflow-wrap: break-word;
}  
