<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid ps-5 pe-5">
      <a class="navbar-brand" href="/">SUPER PEOPLE用フレンド募集掲示板</a>
    </div>
  </nav>
</header>